body { 
	padding-top: 10px;
	background: url("../res/memorize_back.jpg");
}

#my_log_div{
	overflow:scroll;
	border: 2px solid #3A5899;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 99%;
	min-height: 25px;
}

.questionMark {
	position:absolute;
	z-index: 2;
}

.user_photo {
	position:absolute;
	z-index: 1;
	margin: 0px 0px 0px 0px;
}

ul.hover_block { display: block; overflow: hidden; height: 1%; padding: .1em 0 .1em 0; margin-bottom: 0px;}

ul.hover_block li {
	list-style:none;
	float:left;
	background: transparent;
	width:99%; 
	position: relative;
	padding: 0px;
	margin: 0px;
}

ul.hover_block li a {
	display: block;
	position: relative;
	overflow: hidden;
	height: 50px;
	padding: 0px;
	margin: 0px;
	color: #000;
}

ul.hover_block li a { text-decoration: none; }

ul.hover_block li img {
	position: absolute;
	top: 0;
	left: 0;
	/* border: 0; */
	border: solid .1em #3a5899;
}

ul.hover_block li a:hover img {
  opacity:0.7;  
  filter:alpha(opacity=70);
  border: solid .1em #3a5899;
}

#left_menu{
	margin-left: 15px;
}

#how_many_form_div{
	text-align:left;
}

#how_many_form_div span label{
/*	font-size: 22px;*/
	font-size: 18px;
	color: #3A5899;
	padding: 0 0 .5em 0;
	padding-top: 1em;
}

.board_block {
	background: url("../res/default_block.png");
	margin: 0px 0px 8px 5px;
	text-align:center;
	height: 109px;
}

.board_block_label{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}

.board_block_value{
	font-size: 3.5em;
	color: #3a5899;
}

#counter_form {
  padding-top: .8em;
  text-align: center;
}

#time_value {
	font-size: 3em;
	color: #3a5899;
}